blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cymem==2.0.5
emojis==0.6.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
idna==2.10
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
murmurhash==1.0.5
nltk==3.6.2
numpy
packaging==20.9
pathy==0.5.2
preshed==3.0.5
pyahocorasick==1.4.2
pydantic==1.7.4
pymongo==3.11.4
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
thinc==8.0.3
tqdm==4.60.0
typer==0.3.2
urllib3==1.26.5
wasabi==0.8.2
mysql-connector-python
dnspython